* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
        sans-serif;
}

body {
    background-color: rgba(233, 235, 238, 255);
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3c5997;
    height: 70px;
}

nav h1 {
    color: white;
    float: left;
    margin-left: 15%;
    font-size: 30px;
    padding-top: 20px;
}

nav ul {
    float: right;
    margin-right: 15%;
    padding: 0;
    list-style: none;
    padding-top: 20px;
}

ul input {
    border: solid 5px #ffffff;
    margin-right: 5px;
    border-radius: 2px;
}

ul button {
    border: solid 5px #ffffff;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 2px;
}

.left-content {
    width: 500px;
    margin-left: 15%;
    margin-top: 120px;
    float: left;
}

img {
    width: 100%;
    margin-top: 20px;
}

#right-content {
    float: right;
    margin-right: 15%;
    margin-top: 120px;
}

div h1 {
    margin-bottom: 10px;
}

#sign-up {
    margin-top: 20px;
    padding: 15px 20px;
    width: 200px;
    background-color: #609d4d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-shadow: black 1px 1px 3px;
}

#first-name,
#last-name {
    width: 47%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

#email-phoneNumber,
#password {
    width: 97%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

.birth-select {
    border-radius: 2px;
    margin-bottom: 15px;
    padding: 5px;
}

.gender-select {
    margin-bottom: 15px;
}

.gender-select input p {
    font-weight: 800;
}

.disclaimer {
    color: #777777;
}
